  <h2>Aquatic Gallery</h2>
  <div class="row">
    <image-grid image="img/aquatic/1.jpg" text="Aquatic_1"></image-grid>
    <image-grid image="img/aquatic/2.jpg" text="Aquatic_2"></image-grid>
    <image-grid image="img/aquatic/3.jpg" text="Aquatic_3"></image-grid>
    <image-grid image="img/aquatic/4.jpg" text="Aquatic_4"></image-grid>
    <image-grid image="img/aquatic/5.jpg" text="Aquatic_5"></image-grid>
    <image-grid image="img/aquatic/6.jpg" text="Aquatic_6"></image-grid>
    <image-grid image="img/aquatic/7.jpg" text="Aquatic_7"></image-grid>
  </div>
