 <h2>Avenue Gallery</h2>
 <div class="row">
    <image-grid image="img/avenue/1.jpg" text="avenue_1"></image-grid>
    <image-grid image="img/avenue/2.jpg" text="avenue_2"></image-grid>
    <image-grid image="img/avenue/3.jpg" text="avenue_3"></image-grid>
    <image-grid image="img/avenue/4.jpg" text="avenue_4"></image-grid>
    <image-grid image="img/avenue/5.jpg" text="avenue_5"></image-grid>
    <image-grid image="img/avenue/6.jpg" text="avenue_6"></image-grid>
    <image-grid image="img/avenue/7.jpg" text="avenue_7"></image-grid>
    <image-grid image="img/avenue/8.jpg" text="avenue_8"></image-grid>
    <image-grid image="img/avenue/9.jpg" text="avenue_9"></image-grid>
    <image-grid image="img/avenue/10.jpg" text="avenue_10"></image-grid>
  </div>
