 <h2>Avenue Gallery</h2>
  <div class="row">
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/2.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
 	<div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/3.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/4.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/5.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/6.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/7.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/8.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/9.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/avenue/10.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
  </div>