 <h2>Bamboo Gallery</h2>
  <div class="row">
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/2.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
 	<div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/3.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/4.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/5.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/6.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/7.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/8.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/9.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/bamboo/10.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
  </div>