 <h2>Bamboo Gallery</h2>
  <div class="row">
    <image-grid image="img/bamboo/1.jpg" text="bamboo_1"></image-grid>
    <image-grid image="img/bamboo/2.jpg" text="bamboo_2"></image-grid>
    <image-grid image="img/bamboo/3.jpg" text="bamboo_3"></image-grid>
    <image-grid image="img/bamboo/4.jpg" text="bamboo_4"></image-grid>
    <image-grid image="img/bamboo/5.jpg" text="bamboo_5"></image-grid>
    <image-grid image="img/bamboo/6.jpg" text="bamboo_6"></image-grid>
    <image-grid image="img/bamboo/7.jpg" text="bamboo_7"></image-grid>
    <image-grid image="img/bamboo/8.jpg" text="bamboo_8"></image-grid>
    <image-grid image="img/bamboo/9.jpg" text="bamboo_9"></image-grid>
    <image-grid image="img/bamboo/10.jpg" text="bamboo_10"></image-grid>
  </div>
  