 <h2>Desert Gallery</h2>
  <div class="row">
    <image-grid image="img/desert/1.jpg" text="desert_1"></image-grid>
    <image-grid image="img/desert/2.jpg" text="desert_2"></image-grid>
    <image-grid image="img/desert/3.jpg" text="desert_3"></image-grid>
    <image-grid image="img/desert/4.jpg" text="desert_4"></image-grid>
    <image-grid image="img/desert/5.jpg" text="desert_5"></image-grid>
    <image-grid image="img/desert/6.jpg" text="desert_6"></image-grid>
    <image-grid image="img/desert/7.jpg" text="desert_7"></image-grid>
    <image-grid image="img/desert/8.jpg" text="desert_8"></image-grid>
    <image-grid image="img/desert/9.jpg" text="desert_9"></image-grid>
  </div>
  