 <h2>Desert Gallery</h2>
  <div class="row">
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/2.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
 	<div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/3.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/4.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/5.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/6.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/7.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/8.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/desert/9.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
  </div>