 <h2>Ficus Gallery</h2>
  <div class="row">
    <image-grid image="img/ficus/1.jpg" text="ficus_1"></image-grid>
    <image-grid image="img/ficus/2.jpg" text="ficus_2"></image-grid>
    <image-grid image="img/ficus/3.jpg" text="ficus_3"></image-grid>
    <image-grid image="img/ficus/4.jpg" text="ficus_4"></image-grid>
    <image-grid image="img/ficus/5.jpg" text="ficus_5"></image-grid>
    <image-grid image="img/ficus/6.jpg" text="ficus_6"></image-grid>
    <image-grid image="img/ficus/7.jpg" text="ficus_7"></image-grid>
    <image-grid image="img/ficus/8.jpg" text="ficus_8"></image-grid>
    <image-grid image="img/ficus/9.jpg" text="ficus_9"></image-grid>
    <image-grid image="img/ficus/10.jpg" text="ficus_10"></image-grid>
  </div>
  