 <h2>flowers Gallery</h2>
   <div class="row">
    <image-grid image="img/flowers/1.jpg" text="flowers_1" class="hide"></image-grid>
    <image-grid image="img/flowers/2.jpg" text="flowers_2"></image-grid>
    <image-grid image="img/flowers/3.jpg" text="flowers_3"></image-grid>
    <image-grid image="img/flowers/4.jpg" text="flowers_4"></image-grid>
    <image-grid image="img/flowers/5.jpg" text="flowers_5"></image-grid>
    <image-grid image="img/flowers/6.jpg" text="flowers_6"></image-grid>
    <image-grid image="img/flowers/7.jpg" text="flowers_7"></image-grid>
    <image-grid image="img/flowers/8.jpg" text="flowers_8"></image-grid>
    <image-grid image="img/flowers/9.jpg" text="flowers_9"></image-grid>
    <image-grid image="img/flowers/10.jpg" text="flowers_10"></image-grid>
    <image-grid image="img/flowers/11.jpg" text="flowers_11"></image-grid>
    <image-grid image="img/flowers/12.jpg" text="flowers_12"></image-grid>
    <image-grid image="img/flowers/13.jpg" text="flowers_13"></image-grid>
    <image-grid image="img/flowers/14.jpg" text="flowers_14"></image-grid>
    <image-grid image="img/flowers/15.jpg" text="flowers_15"></image-grid>
    <image-grid image="img/flowers/16.jpg" text="flowers_16"></image-grid>
  </div>
  