 <h2>Fruit Gallery</h2>
 <div class="row">
    <image-grid image="img/fruit/1.jpg" text="fruit_1"></image-grid>
    <image-grid image="img/fruit/2.jpg" text="fruit_2"></image-grid>
    <image-grid image="img/fruit/3.jpg" text="fruit_3"></image-grid>
    <image-grid image="img/fruit/4.jpg" text="fruit_4"></image-grid>
    <image-grid image="img/fruit/5.jpg" text="fruit_5"></image-grid>
    <image-grid image="img/fruit/6.jpg" text="fruit_6"></image-grid>
    <image-grid image="img/fruit/7.jpg" text="fruit_7"></image-grid>
    <image-grid image="img/fruit/8.jpg" text="fruit_8"></image-grid>
    <image-grid image="img/fruit/9.jpg" text="fruit_9"></image-grid>
    <image-grid image="img/fruit/10.jpg" text="fruit_10"></image-grid>
    <image-grid image="img/fruit/11.jpg" text="fruit_11"></image-grid>
    <image-grid image="img/fruit/12.jpg" text="fruit_12"></image-grid>
    <image-grid image="img/fruit/13.jpg" text="fruit_13"></image-grid>
    <image-grid image="img/fruit/14.jpg" text="fruit_14"></image-grid>
    <image-grid image="img/fruit/15.jpg" text="fruit_15"></image-grid>
    <image-grid image="img/fruit/16.jpg" text="fruit_16"></image-grid>
  </div>
  