<div class = "list-group hide">
   <a href = "#" class = "list-group-item active">
      <h4 class = "list-group-item-heading">
         Starter Website Package
      </h4>
   </a>
   
   <a href = "#" class = "list-group-item">
      <h4 class = "list-group-item-heading">
         Free Domain Name Registration
      </h4>
      
      <p class = "list-group-item-text">
         You will get a free domain registration with website pages.
      </p>
   </a>
   
   <a href = "#" class = "list-group-item">
      <h4 class = "list-group-item-heading">
         24*7 support
      </h4>
      
      <p class = "list-group-item-text">
         We provide 24*7 support.
      </p>
   </a>
   
</div>

<div class = "list-group hide">
   <a href = "#" class = "list-group-item active">
      <h4 class = "list-group-item-heading">
         Business Website Package
      </h4>
   </a>
   
   <a href = "#" class="list-group-item">
      <h4 class = "list-group-item-heading">
         Free Domain Name Registration
      </h4>
      
      <p class = "list-group-item-text">
         You will get a free domain registration with website pages.
      </p>
   </a>
   
   <a href = "#" class = "list-group-item">
      <h4 class = "list-group-item-heading">24*7 support</h4>
      <p class = "list-group-item-text">We provide 24*7 support.</p>
   </a>
   
</div>
<!-- Begin of rows -->
<div class="list">
<div class="row" id="grid1">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
  <div class="row" id="grid2">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
  <div class="row" id="grid3">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid4">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid5">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid6">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid7">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid8">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
    <div class="row" id="grid9">
      <div>
          <h4>Example product</h4>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
      <div class="slide-footer">
          <span class="pull-right buttons">
  <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
  <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
</span>
      </div>
  </div>
</div>

