<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/1.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="img/2.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="img/3.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="img/4.jpg" alt="Flower" width="460" height="345">
      </div>
      <div class="item">
        <img src="img/5.jpg" alt="Flower" width="460" height="345">
      </div>
    </div>
</div>
    <hr>
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="img/project1.png">
            <span class="card-title">About us</span>
          </div>
          <div class="card-content">
            <p>Some things just look better in motion and in the highly competitive world of fashion, finding an edge over the competition...</p>
          </div>
          <div class="card-action">
            <a href="">
              <button type="button" class="btn btn-info waves-effect waves-light">Read more</button>
            </a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="img/project3.png">
            <span class="card-title">Creative Agency</span>
          </div>
          <div class="card-content">
            <p>Did you know that a strong brand is absolutely essential for generating sales and growth on Social Media? You may...</p>
          </div>
          <div class="card-action">
            <a href="">
              <button type="button" class="btn btn-info waves-effect waves-light">Read more</button>
            </a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="img/project4.png">
            <span class="card-title">Photographer Portfolio</span>
          </div>
          <div class="card-content">
            <p>Photography is an art of observation. It’s about finding something interesting an ordinary place… I’ve found it...</p>
          </div>
          <div class="card-action">
            <a href="">
              <button type="button" class="btn btn-info waves-effect waves-light">Read more</button>
            </a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->