 <h2>Indoor Gallery</h2>
  <div class="row">
    <image-grid image="img/indoor/1.jpg" text="indoor_1"></image-grid>
    <image-grid image="img/indoor/2.jpg" text="indoor_2"></image-grid>
    <image-grid image="img/indoor/3.jpg" text="indoor_3"></image-grid>
    <image-grid image="img/indoor/4.jpg" text="indoor_4"></image-grid>
    <image-grid image="img/indoor/5.jpg" text="indoor_5"></image-grid>
    <image-grid image="img/indoor/6.jpg" text="indoor_6"></image-grid>
    <image-grid image="img/indoor/7.jpg" text="indoor_7"></image-grid>
    <image-grid image="img/indoor/8.jpg" text="indoor_8"></image-grid>
    <image-grid image="img/indoor/9.jpg" text="indoor_9"></image-grid>
    <image-grid image="img/indoor/10.jpg" text="indoor_10"></image-grid>
    <image-grid image="img/indoor/11.jpg" text="indoor_11"></image-grid>
    <image-grid image="img/indoor/12.jpg" text="indoor_12"></image-grid>
    <image-grid image="img/indoor/13.jpg" text="indoor_13"></image-grid>
    <image-grid image="img/indoor/14.jpg" text="indoor_14"></image-grid>
    <image-grid image="img/indoor/15.jpg" text="indoor_15"></image-grid>
  </div>
  