 <h2>Ornamental Gallery</h2>
  <div class="row">
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/2.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
 	<div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/3.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/4.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/5.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/6.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/7.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/8.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/9.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/ornamental/10.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
  </div>