 <h2>Ornamental Gallery</h2>
   <div class="row">
    <image-grid image="img/ornamental/1.jpg" text="ornamental_1"></image-grid>
    <image-grid image="img/ornamental/2.jpg" text="ornamental_2"></image-grid>
    <image-grid image="img/ornamental/3.jpg" text="ornamental_3" class="hide"></image-grid>
    <image-grid image="img/ornamental/4.jpg" text="ornamental_4"></image-grid>
    <image-grid image="img/ornamental/5.jpg" text="ornamental_5"></image-grid>
    <image-grid image="img/ornamental/6.jpg" text="ornamental_6"></image-grid>
    <image-grid image="img/ornamental/7.jpg" text="ornamental_7"></image-grid>
    <image-grid image="img/ornamental/8.jpg" text="ornamental_8"></image-grid>
    <image-grid image="img/ornamental/9.jpg" text="ornamental_9"></image-grid>
    <image-grid image="img/ornamental/10.jpg" text="ornamental_10"></image-grid>
  </div>
  