 <h2>outdoor Gallery</h2>
  <div class="row">
    <image-grid image="img/outdoor/1.jpg" text="outdoor_1"></image-grid>
    <image-grid image="img/outdoor/2.jpg" text="outdoor_2"></image-grid>
    <image-grid image="img/outdoor/3.jpg" text="outdoor_3"></image-grid>
    <image-grid image="img/outdoor/4.jpg" text="outdoor_4"></image-grid>
    <image-grid image="img/outdoor/5.jpg" text="outdoor_5"></image-grid>
    <image-grid image="img/outdoor/6.jpg" text="outdoor_6"></image-grid>
    <image-grid image="img/outdoor/7.jpg" text="outdoor_7"></image-grid>
    <image-grid image="img/outdoor/8.jpg" text="outdoor_8"></image-grid>
    <image-grid image="img/outdoor/9.jpg" text="outdoor_9"></image-grid>
    <image-grid image="img/outdoor/10.jpg" text="outdoor_10"></image-grid>
    <image-grid image="img/outdoor/11.jpg" text="outdoor_11"></image-grid>
    <image-grid image="img/outdoor/12.jpg" text="outdoor_12"></image-grid>
    <image-grid image="img/outdoor/13.jpg" text="outdoor_13"></image-grid>
    <image-grid image="img/outdoor/14.jpg" text="outdoor_14"></image-grid>
    <image-grid image="img/outdoor/15.jpg" text="outdoor_15"></image-grid>
  </div>
  