 <h2>Palms Gallery</h2>
  <div class="row">
    <div class="col-md-4" id="myModal">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/1.jpg" alt="Pulpit Rock" style="width:150px;height:150px" data-target="#myModal">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/2.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
 	<div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/3.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/4.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/5.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/6.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/7.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/8.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
        <img src="img/palms/9.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
    <div class="col-md-4">
        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>    
       <img src="img/palms/10.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
    </div>
  </div>
  