 <h2>Palms Gallery</h2>
   <div class="row">
    <image-grid image="img/palms/1.jpg" text="palms_1"></image-grid>
    <image-grid image="img/palms/2.jpg" text="palms_2"></image-grid>
    <image-grid image="img/palms/3.jpg" text="palms_3"></image-grid>
    <image-grid image="img/palms/4.jpg" text="palms_4"></image-grid>
    <image-grid image="img/palms/5.jpg" text="palms_5"></image-grid>
    <image-grid image="img/palms/6.jpg" text="palms_6"></image-grid>
    <image-grid image="img/palms/7.jpg" text="palms_7"></image-grid>
    <image-grid image="img/palms/8.jpg" text="palms_8"></image-grid>
    <image-grid image="img/palms/9.jpg" text="palms_9"></image-grid>
    <image-grid image="img/palms/10.jpg" text="palms_10"></image-grid>
  </div>
  